.contact-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #f9c34e;
}
 
.contact-navbar {
  width: 100%;
  height: 93px;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  background-color: #e6b03d;
}
 
.contact-navlink {
  display: contents;
}
 
.contact-image1 {
  width: 64px;
  height: 64px;
  object-fit: cover;
  margin-left: 50px;
  text-decoration: none;
}
 
.contact-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-link1 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
 
.contact-link2 {
  text-decoration: none;
}
 
.contact-link3 {
  display: contents;
}
 
.contact-pasted-image {
  width: 60%;
  height: auto;
  margin-bottom: 80px;
  text-decoration: none;
}
 
.contact-link4 {
  display: contents;
}
 
.contact-image2 {
  width: 30%;
  object-fit: cover;
  margin-bottom: 80px;
  text-decoration: none;
}
 
.contact-image3 {
  width: 30%;
  object-fit: cover;
}
 
@media(max-width: 991px) {
  .contact-pasted-image {
    margin-bottom: 80px;
  }
  .contact-image2 {
    width: 30%;
    margin-bottom: 80px;
  }
}
 
@media(max-width: 767px) {
  .contact-navbar {
    position: relative;
  }
  .contact-pasted-image {
    margin-bottom: 80px;
  }
  .contact-image2 {
    width: 30%;
    margin-bottom: 80px;
  }
}
 
@media(max-width: 479px) {
  .contact-pasted-image {
    width: 80%;
    margin-bottom: 80px;
  }
  .contact-image2 {
    width: 40%;
    margin-bottom: 80px;
  }
  .contact-image3 {
    width: 40%;
  }
}
